
<div class="row">
  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <h1>{{title}}</h1>
    <div class="input-group">
          <span class="input-group-btn">
            <button
              [disabled]="(myInput!=='')? false: true"
              class="btn btn-default"
              type="button"
              (click)="onInputReset()"
            >Go!</button>
          </span>
      <input
        type="text"
        class="form-control"
        placeholder="Type here something..."
        [(ngModel)]="myInput" >
    </div><!-- /input-group -->
  </div>

</div>
<div class="row">
  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <p>{{myInput}}</p>
  </div>

  <div class="col-lg-4"></div>
</div>



